/.idea/
/custom-disk/iac/.credentials
/custom-disk/iac/.terraform*
/custom-disk/iac/settings.json
/custom-disk/iac/terraform.tfstate*
/rancher/iac/.credentials
/rancher/iac/.terraform*
/rancher/iac/settings.json
/rancher/iac/terraform.tfstate*
/vpc/iac/.credentials
/vpc/iac/.terraform*
/vpc/iac/settings.json
/vpc/iac/terraform.tfstate*
/nodebalancer/iac/.credentials
/nodebalancer/iac/.terraform*
/nodebalancer/iac/settings.json
/nodebalancer/iac/terraform.tfstate*